@media (max-width: 500px) {
  .section-one {
    display: block;
  }
  .side-img {
    top: -74px;
    left: -79px;
    width: 215px;
  }
  .left {
    width: 100%;
    padding: 0px 35px;
  }
  .left h1 {
    font-size: 25px;
  }
  .articale {
    margin: 20px 0;
  }
  .articale h3 {
    font-size: 15px;
  }
  .articale p {
    font-size: 10px;
  }
  .articale a {
    margin-top: 5px;
    border: 1px solid blue;
    background: pink;
    border-radius: 5px;
    padding: 5px;
    color: blue;
    font-weight: 700;
    transition: 0.3s;
    font-size: 10px;
  }
  .articale a:hover {
    border: 3px solid red;
    color: red;
    padding: 5px;
  }
  .right {
    width: 100%;
  }
  .right img {
    padding: 20px 0;
    margin: auto;
    width: 300px;
  }
}
