/* font-family: 'Poppins', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
h1 {
  font-size: 40px;
}
h3 {
  font-size: 25px;
}
p {
  font-size: 15px;
}
img {
  max-width: 100%;
  display: block;
}
/* ----------section-one---------- */
.section-one {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}
.side-img {
  position: absolute;
  z-index: -1;
  width: 400px;
  top: -173px;
  left: -189px;
}
.left {
  width: 50%;
  padding-left: 60px;
}
.left h1 {
  font-size: 40px;
}
.name-heilight {
  color: blue;
}
.right {
  width: 50%;
  display: flex;
}
.right img {
  margin: auto;
  width: 400px;
}
.articale {
  margin: 40px 0;
}
.articale h3 {
  font-size: 25px;
}
.articale p {
  padding: 10px 0;
}
.articale a {
  display: inline-block;
  margin-top: 10px;
  border: 3px solid blue;
  background: pink;
  border-radius: 10px;
  padding: 10px;
  color: blue;
  font-weight: 700;
  transition: 0.3s;
}
.articale a:hover {
  border: 3px solid red;
  color: red;
  padding: 15px;
}
/* --------------section-two------------- */
.section-two {
  display: flex;
  position: relative;
  padding-bottom: 20px;
}
.section-two .left {
  width: 50%;
}
.section-two .left img {
  width: 400px;
}
.section-two .right {
  display: block;
  margin: auto;
  padding: 0 20px;
}
.section-two .right h3 {
  padding: 5px 0;
}
.section-two .right p {
}
.section-two .right a {
  display: inline-block;
  margin-top: 10px;
  border: 3px solid blue;
  background: pink;
  border-radius: 10px;
  padding: 10px;
  color: blue;
  font-weight: 700;
  transition: 0.3s;
}
.section-two .right a:hover {
  border: 3px solid red;
  color: red;
  padding: 15px;
}
.section-two > img {
  position: absolute;
  width: 303px;
  right: -119px;
  top: 68px;
  z-index: -1;
}
